/* css selectors */
/* tag, class, id, universal, descendant, grouping, child, pseudo */

/* 
p{
  color: red;
}
h3{
  background-color: green;
} */

/* class selector - .className */
/* .first-text{
  color: red;
} */

/* ID selectors ,- #idname */
/* #second{
  background-color: blueviolet;
  color: white;
} */

/* universal selector  *     */
/* *{
  color: red;
} */

/* descendant selector */
/* div p{
  color: red;
} */
/* grouping, commas */
/* h1,h2,h3{
  color: red;
 }
 .text, .list{

 }  */
/* CSS TEXT PROPERTIES */
/* color and background color */
/* rgb, rgba, hsl, hsla, hex code */
/* h1{
    color: red;
    background-color: black;
   } */
/* text alignment and text decoration, text transform */
/* h1{
    text-align: center;
    text-decoration: underline;
    text-transform: lowercase;
   }
   a{
    text-decoration: none;
  }
  p {
    text-transform: capitalize;
  } */
/* text spacing --line height, letter spacing, word spacing, text indentation*/
/* 
p{
  line-height: 1.5;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-indent: 30px;
} */

/* font-properties -- font size, font weight (100-900), font family, font style*/
/* h1{
  font-size:50px;
  font-weight: 100;
  font-style: italic;

}
p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
/* prioritized list */
/* web safe fonts-- cursive, serif, sans serif, monospace */
/* google fonts */

/* units of Measurements in css */
/* absolute px, cm, relative vh, vm, em , rem, % */
/* viewport height - 100(100% of the visible area of the browser */
/* .box-1 {
  background-color: blue; */
/* width: 400px;
  height: 400px; */
/* width: 100vw;
  height: 100vh;
} */
/* .box-2 {
  background-color: red; */
/* width: 50%;
  height: 400px; */
/* width: 100vw;
  height: 50vh;
} */

/* .box-3{
  background-color: green;
  width: 50%;
  height: 50%;
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", serif;
}
/* rem em */
/* 1em===16px
1em=== browser setting, parent element
 */

/* .box-1 {
  font-size: 2px;
}
.box-1 h1 {
  font-size: 2em;
}
.box-2 h1 {
  font-size: 32px;
} */

/* 1rem===16px 
1rem=== browser settings, root element
*/
/* .box-1 h1 {
  font-size: 2rem;
}
.box-2 h1 {
  font-size: 32px;
} */

/* last rule */
/* inheritance */
/* specificity */

/*   * < tag < class < id < inline */
/* .text{
  color: blue;
}
h1{
  color: red;
}
#heading{
  color: green;
} */
/* width height min max */
/* .container {
  width: 100%;
  height: 400px;
  background-color: black;
  max-width: 600px;
} */

/* css box model - margin (outside the box) padding(inside the box) border border-radius*/
/* div {
  width: 300px;
  height: 300px;
}
.box1 {
  background-color: red;
  margin-bottom: 50px;
  margin-left: 100px;
} */
/* trouble- trbl */
/* negative auto used to center boxes within their container*/
/* .box2 {
  background-color: blue; */
/* margin: 10px 40px 12px 3px; */
/* margin-top: -200px;
  margin: auto;
  padding-left: 30px;
  padding-top: 30px;
  border: 10px solid black;
  border-bottom: 10px solid black;
  border-top: 20px dashed red;
  border-radius: 10px;
} */

/* border -width style color */
/* button {
  border: none;
  width: 140px;
  height: 50px;
  background-color: burlywood;
  border-radius: 10px;
  font-size: 10px;
  font-weight: 700;
} */
/* display inline block */
/* block - take up a new line */
/* .block {
  background-color: blue;
  margin: 30px 0px;
} */
/*  block level obey margins in all direction */
/* inline do not obey top and buttom margin */
/* .inline {
  background-color: red;
  display: inline-block;
  margin-top: 100px;
} */
/*  inline-block */
/* pseudo-classes and pseudo element */
/* button {
  background-color: blue;
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: blue;
}
input {
  width: 200px;
  height: 40px;
  border: 2px solid gray;
  padding: 10px;
  outline: none;
  border-radius: 10px;
}
input:focus {
  border: 2px solid green;
} */

/* pseudo element :: */
/* input::placeholder {
  color: red;
}
p::first-letter {
  color: red;
  font-size: 40px;
}
p::first-line {
  text-decoration: underline;
} */

/* display none, opacity, visibility */

/* .none {
  display: none;
} */
/*  0-1 */
/* .opacity {
  opacity: 0.5;
} */
/* visible hidden */
/* .visibility {
  visibility: hidden;
} */

/* background images */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* }
div {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
} */
/* .one {
  background-image: url("https://plus.unsplash.com/premium_photo-1730828573938-003e14f210f4?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.two {
  background-image: url("https://images.unsplash.com/photo-1737408250865-438803045120?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */
/* linear gradient */
/* .three {
  background-image: linear-gradient(to bottom, red, green, yellow);
} */

/* positioning and z-index */
/* static relative sticky fixed absolute */
/* static is the default position for all element */
/* relative positions - positioning an element relative to its normal position in the doc */
/*  top bottom left right */
.one {
  background-color: blue;
  width: 200px;
  height: 200px;
  position: relative;
  left: 200px;
  top: 40px;
}
.two {
  background-color: red;
}
.three {
  background-color: green;
}
/* sticky */
nav {
  width: 100%;
  height: 60px;
  background-color: blueviolet;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logo {
  background-color: greenyellow;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  right: 30px;
  bottom: 25px;
}
/*  absolutely - parent element( relative ) */
.four {
  height: 200px;
  border: 2px solid red;
  position: relative;
}
.four p {
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 20px;
}
/* z-index controls the stacking order of positioned elements */

/* ccs variables */
/* var must be declared inside of the root pseudo class */
/*  var must start with two -- followed by the var name varName */
:root {
  --primaryColor: blue;
  --mainFamily: cursive;
  --bgColor: red;
}
/* usage  var */
p {
  color: var(--primaryColor);
  font-family: var(--mainFamily);
}

p {
  background-color: var(--bgColor);
}

/* important keyword */

/* tag<class<id<com<inline */
#maintext {
  color: blue;
}
p {
  color: black !important;
}
.text {
  color: red;
}

/* flex box */


